* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ea533f;
  text-align: center;
}
h1 {
  font-size: 2em;
  color: rgb(228, 237, 63);
}
.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #f10505;
  background-color: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: rgb(228, 237, 63);
  color: #130d0d;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
  background-color: rgb(228, 237, 63);
  color: #e60808;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #e2d80c;
  font-size: 2.3em;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}
